<div class="container">
  <div class="row">
    <div class="">
      <div class="myprofiletopic">
        <h3>My Profile</h3>
        <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-xs-12">
      <div class="profilecard"> 
        <div class="profilecardpoic">
          <img src="assets/images/avatar2.jpg" alt="">
          <label class="btn btn-default"><i class="fa fa-pencil"></i>
            <input type="file"  name="" id="">
          </label>
        </div>

        <h4>SOURAV SINGH</h4>
        <a href="">https://www.facebook.com/</a>

        <a href="">https://material.angular.io/components/form-field/overview</a>
        <a href="">https://material.angular.io/components/form-field/overview</a>
        <a href="">https://material.angular.io/components/form-field/overview</a>
      </div>
    </div>
    <div class="col-sm-8 col-md-8 col-xs-12">
      <div class="profileupdate">
        <label>Phone Number</label>
        <input type="text" name="" id="" placeholder="+91 988888444">
        <button type="button" class="btn btn-success">Update</button>
      </div>
      <div class="profileupdate">
        <label>Email ID</label>
        <input type="text" name="" id="" placeholder="demoname4343@gmail.com">
        <button type="button" class="btn btn-success">Update</button>
      </div>
      <div class="profileedit">
        <div class="row">
          <div class="col-sm-12">
            <label>Name</label>
            <input type="text" name="" id="" placeholder="Demo Name">
          </div>
          <div class="col-sm-12">
            <label>Address</label>
            <input type="text" name="" id="" placeholder="Demo Name">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <label>City</label>
            <input type="text" name="" id="" placeholder="Demo City">
          </div>
          <div class="col-sm-4">
            <label>State</label>
            <input type="text" name="" id="" placeholder="Demo state">
          </div>
          <div class="col-sm-4">
            <label>Zip</label>
            <input type="text" name="" id="" placeholder="700040">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-success">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>