<div class="footer">
  <div class="container">
     <div class="footermenu">
      <a href="">Home</a>
      <a href="">About Us</a>
      <a href="">Products</a>
      <a href="">Contact Us</a>
     </div>
     <div class="footersocial">
      <a href="" class="face"><i class=" fa fa-facebook"></i></a>
      <a href="" class="face_1"><i class=" fa fa-google-plus"></i></a>
      <a href="" class="face_2"><i class=" fa fa-twitter"></i></a>
      <a href="" class="face_3"><i class=" fa fa-youtube"></i></a>
     </div>
  </div>
</div>
<div class="footerdesign">
  <p>Designed by <strong> Amar Shivam </strong></p>
</div>