<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="mycart">
        <h4>My Cart (2)</h4>
        <div class="table-responsive">
            <table class="table">
                
                <tbody>
                  <tr>
                    <td><img src="assets/images/book2.jpg" alt="">
                        <a href=""><i class="fa fa-minus"></i></a>
                        <input type="text" value="2" name="" id="">
                        <a href=""><i class="fa fa-plus"></i></a>
                    </td>
                    <td>
                      <a href="">Demo book name</a>
                      <span>demo text</span>
                      <small>demo text</small>
                      <h5>₹8,999 <small> ₹9,999</small>  
                          <span>10% Off</span>
                          </h5>
                    </td>
                    <td><p>Free delivery in 2 Days, Mon <span>10 Days Replacement Policy </span></p>
                      <button type="button" class="btn btn-default"><i class="fa fa-close"></i> Remove </button>
                      
                    </td>
                  
                  </tr>
                  <tr>
                      <td><img src="assets/images/book3.jpg" alt="">
                          <a href=""><i class="fa fa-minus"></i></a>
                          <input type="text" value="2" name="" id="">
                          <a href=""><i class="fa fa-plus"></i></a>
                      </td>
                      <td>
                        <a href="">Demo book name</a>
                        <span>demo text</span>
                        <small>demo text</small>
                        <h5>₹8,999 <small> ₹9,999</small>  
                            <span>10% Off</span>
                            </h5>
                      </td>
                      <td><p>Free delivery in 2 Days, Mon <span>10 Days Replacement Policy </span></p>
                        <button type="button" class="btn btn-default"><i class="fa fa-close"></i> Remove </button>
                        
                      </td>
                        
                    </tr>
                    <tr>
                        <td><img src="assets/images/book4.jpg" alt="">
                            <a href=""><i class="fa fa-minus"></i></a>
                            <input type="text" value="2" name="" id="">
                            <a href=""><i class="fa fa-plus"></i></a>
                        </td>
                        <td>
                          <a href="">Demo book name</a>
                          <span>demo text</span>
                          <small>demo text</small>
                          <h5>₹8,999 <small> ₹9,999</small>  
                              <span>10% Off</span>
                              </h5>
                        </td>
                        <td><p>Free delivery in 2 Days, Mon <span>10 Days Replacement Policy </span></p>
                          <button type="button" class="btn btn-default"><i class="fa fa-close"></i> Remove </button>
                          
                        </td>
                      </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="mycart_2">
          <h4>Price Details</h4>
          <div class="priceinner">
            <p class="leftdetail">Price (2 Items)</p>
            <p class="rightdetail"><i class="fa fa-iner"></i> 11,000</p>
          </div>
          <div class="priceinner priceinner_2">
              <p class="leftdetail">Delivery Charges</p>
            <p class="rightdetail rightdetail_green"> Free</p>
            </div>
            <div class="priceinner priceinner_2">
                <h5 class="leftdetail">Total Payble</h5>
                <h5 class="rightdetail"><i class="fa fa-iner"></i> 11,000</h5>
            </div>
            <div class="priceinner priceinner_2">
              <span>Your Total Savings on this order ₹1,000 </span>
            </div>
            <div class="priceinner ">
              <button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Continue Shopping</button>
              <button type="button" class="btn btn-success"> Place Order</button>
            </div>
            
        </div>
    </div>
  </div>  
</div>
