<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3">
        <div class="signup">
            <ul class="nav nav-pills">
                <li><a data-toggle="pill" href="#menu1">Log In</a></li>
                
              <li class="active"><a data-toggle="pill" href="#home">Sign Up</a></li>
            </ul>
      
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                  <label>First Name</label>
                  <input type="text" name="" id="">
                  <label>Last Name</label>
                  <input type="text" name="" id="">
                  <label>Email Address</label>
                  <input type="text" name="" id="">
                  <label>Mobile Number</label>
                  <input type="text" name="" id="">
                  <label>Password</label>
                  <input type="text" name="" id="">
                  <label>Confirm Password</label>
                  <input type="text" name="" id="">
                  <h4>Already have an have an account?<a href=""> Login Now</a></h4>
                  <div class="row">
                    <div class="col-sm-12 col-xs-12">
                      <button type="button" class="btn btn-success">Sign Up</button>
                    </div>
                  </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                  <label>Eamil Address</label>
                  <input type="text" name="" id="">
                  <label>Password</label>
                  <input type="text" name="" id="">
                  <input type="checkbox" name="" id="">
                  <p>i Agree terms and conditions</p>

                  <h4>Don't have an account?<a href=""> Register Now</a> or <a href="">Forgot Password </a></h4>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-center">
                      <button type="button" class="btn btn-success">Log In</button>
                    </div>
                  </div>
              </div>
             
            </div>
      
      
          </div>
    </div>
  </div>
</div>