

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="products_page">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title expand">
                 
                    <a href="#">Category</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="cat_1">
                        <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                          </div>
                          <p>Category</p>
                    </div>
                    <div class="cat_1">
                        <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                          </div>
                          <p>Category</p>
                    </div>
                    <div class="cat_1">
                        <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="checkbox" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                          </div>
                          <p>Category</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title expand">
                     
                    <a href="#">Products</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">

                      <div class="cat_1">
                          <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default">
                              <input type="checkbox" autocomplete="off">
                              <span class="glyphicon glyphicon-ok"></span>
                            </label>
                            </div>
                            <p>Product</p>
                      </div>
                      <div class="cat_1">
                          <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default">
                              <input type="checkbox" autocomplete="off">
                              <span class="glyphicon glyphicon-ok"></span>
                            </label>
                            </div>
                            <p>Product</p>
                      </div>
                      <div class="cat_1">
                          <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default">
                              <input type="checkbox" autocomplete="off">
                              <span class="glyphicon glyphicon-ok"></span>
                            </label>
                            </div>
                            <p>Product</p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title expand">
                      
                    <a href="#">Price Range</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="">
                      <div class="range">
                        <h5>Minimum</h5>
                        <input type="range" name="range" min="1" max="100" value="50" onchange="range.value=value">
                        <output id="range">50</output>
                      </div>
                    </div>
                    <div class="">
                      <div class="range">
                          <h5>Maximum</h5>
                          
                          <input type="range" name="range" min="1" max="100" value="50" onchange="range.value=value">
                          <output id="range">50</output>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>

     <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="product">
              <a  routerLink="/home/products-description" > <img src="assets/images/book.jpg" alt=""></a>
              <h4>
                Topic Goes Here <br>
                <span>Rs 10, 0000</span>
              </h4>
              <button type="button"  routerLink="/home/products-description"  class="btn btn-default"><i class="fa fa-eye"></i> View</button>
              <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add To Cart</button>
              <div class="productinner">
                <a href=""><i class="fa fa-eye"></i> 200</a>
                <a href="" class="heartt"><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-share-alt"></i></a>
                <a href="" class="comment"><i class="fa fa-comment"></i> 22</a>
              </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="product">
                <a  routerLink="/home/products-description" > <img src="assets/images/book2.jpg" alt=""></a>
                <h4>
                  Topic Goes Here <br>
                  <span>Rs 10, 0000</span>
                </h4>
                <button type="button"  routerLink="/home/products-description"  class="btn btn-default"><i class="fa fa-eye"></i> View</button>
                <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add To Cart</button>
                <div class="productinner">
                  <a href=""><i class="fa fa-eye"></i> 200</a>
                  <a href="" class="heartt"><i class="fa fa-heart"></i></a>
                  <a href=""><i class="fa fa-share-alt"></i></a>
                  <a href="" class="comment"><i class="fa fa-comment"></i> 22</a>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="product">
                  <a   routerLink="/home/products-description" > <img src="assets/images/book3.jpg" alt=""></a>
                  <h4>
                    Topic Goes Here Topic Goes HereTopic Goes Here <br>
                    <span>Rs 10, 0000</span>
                  </h4>
                  <button type="button"   routerLink="/home/products-description" class="btn btn-default"><i class="fa fa-eye"></i> View</button>
                  <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add To Cart</button>
                  <div class="productinner">
                    <a href=""><i class="fa fa-eye"></i> 200</a>
                    <a href="" class="heartt"><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-share-alt"></i></a>
                    <a href="" class="comment"><i class="fa fa-comment"></i> 22</a>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="product">
                    <a   routerLink="/home/products-description" > <img src="assets/images/book3.jpg" alt=""></a>
                    <h4>
                      Topic Goes Here Topic Goes HereTopic Goes Here <br>
                      <span>Rs 10, 0000</span>
                    </h4>
                    <button type="button"  routerLink="/home/products-description"  class="btn btn-default"><i class="fa fa-eye"></i> View</button>
                    <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add To Cart</button>
                    <div class="productinner">
                      <a href=""><i class="fa fa-eye"></i> 200</a>
                      <a href="" class="heartt"><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-share-alt"></i></a>
                      <a href="" class="comment"><i class="fa fa-comment"></i> 22</a>
                    </div>
                </div>
              </div>
              <div class="col-sm-4">
                  <div class="product">
                      <a   routerLink="/home/products-description" > <img src="assets/images/book3.jpg" alt=""></a>
                      <h4>
                        Topic Goes Here Topic Goes HereTopic Goes Here <br>
                        <span>Rs 10, 0000</span>
                      </h4>
                      <button type="button"  routerLink="/home/products-description"  class="btn btn-default"><i class="fa fa-eye"></i> View</button>
                      <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add To Cart</button>
                      <div class="productinner">
                        <a href=""><i class="fa fa-eye"></i> 200</a>
                        <a href="" class="heartt"><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-share-alt"></i></a>
                        <a href="" class="comment"><i class="fa fa-comment"></i> 22</a>
                      </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <a  routerLink="/home/products-description" > <img src="assets/images/book3.jpg" alt=""></a>
                        <h4>
                          Topic Goes Here Topic Goes HereTopic Goes Here <br>
                          <span>Rs 10, 0000</span>
                        </h4>
                        <button type="button"  routerLink="/home/products-description"  class="btn btn-default"><i class="fa fa-eye"></i> View</button>
                        <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add To Cart</button>
                        <div class="productinner">
                          <a href=""><i class="fa fa-eye"></i> 200</a>
                          <a href="" class="heartt"><i class="fa fa-heart"></i></a>
                          <a href=""><i class="fa fa-share-alt"></i></a>
                          <a href="" class="comment"><i class="fa fa-comment"></i> 22</a>
                        </div>
                    </div>
                  </div>
      </div>
     </div>

  </div>




</div>
