<div class="container-fluid">
		<div class="card">
			<div class="">
				<div class="wrapper row">
					<div class="preview col-md-6 col-sm-12 col-xs-12">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="assets/images/book.jpg" /></div>
						  <div class="tab-pane" id="pic-2"><img src="assets/images/book2.jpg" /></div>
						  <div class="tab-pane" id="pic-3"><img src="assets/images/book3.jpg" /></div>
						  <div class="tab-pane" id="pic-4"><img src="assets/images/book4.jpg" /></div>
						  <div class="tab-pane" id="pic-5"><img src="assets/images/book.jpg" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="assets/images/book.jpg" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="assets/images/book2.jpg" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="assets/images/book3.jpg" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="assets/images/book4.jpg" /></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img src="assets/images/book.jpg" /></a></li>
						</ul>
						<div class="butoons">
              <button type="button" class="btn btn-primary bgbtn"><i class="fa fa-cart-plus"></i> Purchase Request</button>
              <button type="button" class="btn btn-success bgbtn"><i class="fa fa-cart"></i> Add To Cart</button>
            </div>
            <div class="butoons">
                <button type="button" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</button>
                <button type="button" class="btn btn-success"><i class="fa fa-share-alt"></i> Share</button>
                <button type="button" class="btn btn-default"><i class="fa fa-eye"></i> Preview</button>
            </div>
          </div>
					<div class="col-md-6 col-sm-12 col-xs-12">
            <div class="rightsectiondescrptn">
              <h4>Demo heading here here  </h4>
              <ol>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the      	    industry's standard dummy te</li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the      	    industry's standard dummy te</li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the      	    industry's standard dummy te</li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the      	    industry's standard dummy te</li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the      	    industry's standard dummy te</li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the      	    industry's standard dummy te</li>
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the      	    industry's standard dummy te</li>
              </ol>
            </div>
            <div class="sellerdetails">
              <img src="assets/images/avatar.png" alt="">
              <h4>Seller's Details</h4>
              <p><i class="fa fa-home"></i>  Lorem Ipsum is simply dummy text of the printing and typesetting indust </p>
              <div class="col-sm-12  col-xs-12">
                <div class="row">
                  <button type="button" class="btn btn-default">Send Purchase Request</button>
                </div>
              </div>
            </div>
            <div class="rightsectiondescrptn">
                <h4>Write Your Review </h4>
                <input type="text" placeholder="Comment Topic here ..." name="" id="">
                <textarea name="" id="" placeholder="Comment here ..."></textarea>
                <button type="button" class="btn btn-success">Comment</button>
            </div>
            <div class="rewviewsection">
              <h4>Customers Reviews</h4>
              <div class="customerreview">
                <img src="assets/images/avatar.png"  alt="">
                <h3>Customer Topic here</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting indust  sum has been.Lorem Ipsum is simply dummy text of the printing and typesetting indust Lorem Ipsum has been.
                </p>
                <h5>Customer Name </h5> 
                <a href=""><i class="fa fa-thumbs-down"></i> 46</a>
                <a href="" class="active"><i class="fa fa-thumbs-up"></i> 46</a>
                
              </div>
              <div class="customerreview">
                  <img src="assets/images/avatar.png"  alt="">
                  <h3>Customer Topic here</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting indust  sum has been.Lorem Ipsum is simply dummy text of the printing and typesetting indust Lorem Ipsum has been.
                  </p>
                  <h5>Customer Name </h5> 
                  <a href=""><i class="fa fa-thumbs-down"></i> 46</a>
                  <a href="" class=""><i class="fa fa-thumbs-up"></i> 46</a>
                  
              </div>
              <div class="customerreview">
                  <img src="assets/images/avatar.png"  alt="">
                  <h3>Customer Topic here</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting indust  sum has been.Lorem Ipsum is simply dummy text of the printing and typesetting indust Lorem Ipsum has been.
                  </p>
                  <h5>Customer Name </h5> 
                  <a href=""><i class="fa fa-thumbs-down"></i> 46</a>
                  <a href="" class=""><i class="fa fa-thumbs-up"></i> 46</a>
                  
                </div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
